<section class="newsletter-section">
    <div class="newsletter-container"> 
        <div class="newsletter-logo-container">
            <h2 class="logo">Crowd<span>zero</span></h2>
        </div>
        <h2 class="newsletter-title">Subscribe To Your Newsletter To Stay Updated About Discounts</h2>
        <div class="newsletter-form">
            <form>
                <input type="email" placeholder="person@email.com" class="email-input" id="email" name="email" required>
                <button type="submit" class="submit-btn">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M9 18L15 12L9 6" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                </button>
            </form> 
        </div>
    </div>
</section>
