<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Crowd Zero</title>
    <link rel="shortcut icon" href="/images/logo/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/home_page.css"/>
    <script src="https://kit.fontawesome.com/b77bca94fb.js" crossorigin="anonymous"></script>
  </head>
  <body> 
    <%- include("partials/loader") %>
    <header class="hero">
      <div class="dark-layer"></div>
      <div class="hero-overlay">
        <div class="logo-container">
          <h2 class="logo">Crowd<span>zero</span></h2>
        </div>
        <p class="tagline">LAUNCHING SOON</p>
        <h1>Everything you love<br /><span>in one</span> <span>place</span></h1>
        <p class="subtext">
          Watch this space for the ultimate shopping <br> <span>experience — minus the
            crowds.</span>
        </p>
        <button class="cta-btn">Shop</button>
        <div class="social-icons"> 
          <i class="fab fa-instagram"></i>
          <i class="fab fa-facebook"></i> 
          <i class="fa-brands fa-x-twitter"></i>
        </div>
      </div>
    </header>
    <script src="js/home_page.js"></script>
  </body>
</html>
